#about-mbare{
    background-color: #D0E3FA;
    margin: 100px 0;
}
#about-mbare .matapi {
    position: relative;
}
#about-mbare .matapi img{
    width: 100%;
}
#about-mbare .btns{
    position: absolute;
    border: #ffffff 2px solid;
    color: #ffffff;
    background-color: transparent;
    font-size: 30px;
    padding: 10px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 40px;
    bottom: 0;
    right: 0;
}
#about-mbare .inner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#about-mbare .inner img{
    width: 100%;
}
#about-mbare .inner .profiles{
    width: 100%;
    text-align: left;
    align-items: flex-start;
}
#about-mbare .inner .profiles p{
    margin: 5px;
}
#about-mbare .inner .profiles h2{
    margin:5px 10px;
    font-size: 60px;
}
#about-mbare .inner .profiles button {
    
    width: 70%;
    margin: 0px 20px;
}

@media (max-width:1024px){
    #about-mbare .btns{
        font-size: 20px;
        width: 60%;
        margin:0px;
        bottom: 10%;
        right: 5%;
    }
    #about-mbare .inner .profiles{
        align-items: center;
    }
    #about-mbare .inner .profiles p{
        margin: 10px;
        padding: 10px;
        text-align: center;
    }
    #about-mbare .inner .profiles h2{
        font-size: 40px;
    }
    #about-mbare .inner .profiles button {
        
        width: 80%;
        margin: 0px 20px;
    }
}

@media (max-width:768px){
    #about-mbare .btns{
        font-size: 20px;
        width: 60%;
        margin:0px;
        bottom: 10%;
        right: 5%;
    }
    #about-mbare .inner .profiles{
        align-items: center;
    }
    #about-mbare .inner .profiles p{
        margin: 10px;
        padding: 10px;
        text-align: center;
    }
    #about-mbare .inner .profiles h2{
        margin: 30px;
    }
    #about-mbare .inner .profiles button {
        
        width: 70%;
        margin: 0px 20px;
    }
}
@media (max-width:448px){
    #about-mbare .btns{
        font-size: 20px;
        width: 60%;
        margin:0px;
        bottom: 10%;
        right: 5%;
    }
    #about-mbare .inner .profiles{
        align-items: center;
    }
    #about-mbare .inner .profiles p{
        margin: 10px;
        padding: 10px;
        text-align: center;
    }
    #about-mbare .inner .profiles h2{
        margin: 30px;
    }
    #about-mbare .inner .profiles button {
        
        width: 70%;
        margin: 0px 20px;
    }
}