#construction{
    background-color: #D0E3FA;
    margin: 4%;
}
#construction h2{
    font-size: 60px;
    text-align: right;
    margin: 2%
}
#construction .spaces {
   display: flex;
   margin: 30px;
   padding: 10px;
   justify-content: center;
   align-items: center;
}
#construction .spaces .side{
    margin: -1%;
}
 #construction .spaces .side img{
     width: 100%;
 }

#construction .spaces .inner .top .lil{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#construction .spaces .inner .top .large{
    display: flex;
    justify-content: center;
    align-items: center;
}
#construction .spaces .inner .top .lyt{
    width: 39.5%;
}
#construction .spaces .inner .top .bigg{
    width: 60%;

}
@media (max-width:1024px){
    #construction{
        margin: 0%;
    }
    #construction h2{
        font-size: 40px;
    }
}
@media (max-width:414px){
    
#construction .spaces {
    margin: 0px;
 }
    #construction .spaces .side{
        display: none;
    }
    #construction h2{
        text-align: center;
        margin: 10% 0;
    }
}
